body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.hero {
    height: 775px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #007bff, #00d4ff);
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}