body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.5;
    text-align: center;
}

nav a {
    color: #007bff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color:brown;
}

@media print {
    nav {
        display: none;
    }
    body {
        color: black;
        background-color: white;
    }
}

nav ul {
    font-size: 25px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

h1 {
    background-color: beige;
    padding:30px;
}

h2 {
    margin-top: 50px;
}

img {
    height: 300px;
    width: 300px;
}